<div class="about"> 
    <h1 class="nosotros"> Te contamos sobre nosotros </h1>
    <img class="us" src="assets/img/nosotros.jpg">
    <aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis, deleniti odit maxime ea soluta officia explicabo nulla sunt molestias voluptas dolore delectus corporis odio nisi error aliquid illum architecto!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cupiditate nemo a nam neque adipisci excepturi ducimus, incidunt harum quas saepe? Pariatur nisi quos accusantium vitae quaerat enim explicabo debitis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eligendi non facilis iste. Est, saepe quasi. Maxime nam, pariatur labore, cum, repellendus nobis dicta sequi maiores numquam molestiae earum omnis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus libero voluptate iste dolores. Magnam debitis placeat perspiciatis non rerum nesciunt sed voluptatem in enim! Quod est tempora quas exercitationem expedita!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, incidunt consectetur. Culpa molestias suscipit magni quidem necessitatibus? Quasi, dignissimos? Ad ex consequatur atque ipsum maxime facere quae tempora iusto aspernatur!
            
    </aside>

    <h1 class="vinito"> Asi es que trabajamos </h1>
    <img class="us" src="assets/img/team.jpg">
    <aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis, deleniti odit maxime ea soluta officia explicabo nulla sunt molestias voluptas dolore delectus corporis odio nisi error aliquid illum architecto!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cupiditate nemo a nam neque adipisci excepturi ducimus, incidunt harum quas saepe? Pariatur nisi quos accusantium vitae quaerat enim explicabo debitis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eligendi non facilis iste. Est, saepe quasi. Maxime nam, pariatur labore, cum, repellendus nobis dicta sequi maiores numquam molestiae earum omnis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus libero voluptate iste dolores. Magnam debitis placeat perspiciatis non rerum nesciunt sed voluptatem in enim! Quod est tempora quas exercitationem expedita!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, incidunt consectetur. Culpa 
            
    </aside>


    <h1 class="vinito"> Tambien amamos el vino </h1>
    <img class="vino" src="assets/img/vino.jpg">
    <aside class="wine">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis, deleniti odit maxime ea soluta officia explicabo nulla sunt molestias voluptas dolore delectus corporis odio nisi error aliquid illum architecto!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cupiditate nemo a nam neque adipisci excepturi ducimus, incidunt harum quas saepe? Pariatur nisi quos accusantium vitae quaerat enim explicabo debitis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eligendi non facilis iste. Est, saepe quasi. Maxime nam, pariatur labore, cum, repellendus nobis dicta sequi maiores numquam molestiae earum omnis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus libero voluptate iste dolores. Magnam debitis placeat perspiciatis non rerum nesciunt sed voluptatem in enim! Quod est tempora quas exercitationem expedita!
            
    </aside>

    <h1 class="media">Nos podes encontrar en tu celu</h1>
    <ul class="list-unstyled">
        <li class="media">
          <img src="assets/img/twitter.png" class="twitter" alt="...">
          <div class="media-body">
            <h5 class="twi">Twitter</h5>
            <p class="twit"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <li class="media my-4">
          <img src="assets/img/facebook.svg" class="face" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Facebook</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img src="assets/img/instagram.webp" class="insta" alt="...">
          <div class="media-body">
            <h5 class="ins">Instagram</h5>
            <p class="inst">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
      </ul>
</div>

<h1 class="vos"> Ahora contanos de vos !!! </h1>
<div class="form">
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Dirección</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="231 Palermo">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Provincia</label>
            <select id="inputState" class="form-control">
              <option selected>Elegí...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Postal</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Recibir Mails
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>

    <h1 class="vinito"> Contanos que te paresio </h1>

    <div class="input-group">
      <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Elegí...</option>
        <option value="1">Bueno</option>
        <option value="2">Maso</option>
        <option value="3">Malo</option>
      </select>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Decinos el ¿porque?</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Enviar</button>
      </div>

</div>



