h3{
    margin-left: 70px;
    text-align: center;
    margin-top: 20px;
    margin-right: 18px;
    
    
}

ul{
    text-align: left;
    font-size: 18px;
    margin-left: none;
    margin-top: 20px;
}