<div class="extra">
    <h2 class="indianh"> Indian Pale Ale Inglesa. Elabora una auténtica cerveza english IPA </h2>
  
    <img src="assets/img/ipa.jpg" class="ipa">
  
    <aside class="ipatxt"> 
      Las Indian Pale Ale se comenzaron a elaborar en Inglaterra en el siglo XIX, el motivo de su desarrollo fue debido a la necesidad de buscar una cerveza que se conservara en buen estado durante largos viajes por mar, ya que el imperio británico era el más grande del mundo en aquel momento. A las Indian Pale Ale también se las conoce como cervezas IPA.
      Las cervezas Indian Pale Ale también conocidas como IPA, están muy de moda últimamente entre los cerveceros caseros y también en las cervecerías artesanas. Se pueden encontrar multitud de cervezas de este tipo en el mercadona o en los bares y restaurantes, para maridarlas con quesos o fiambres. Las cervezas Indian Pale Ale se caracterizan por sobre todo por tener un fuerte sabor y aroma a lúpulo ya que se añadía un extra de lúpulo en su elaboración para que se conservará mejor durante más tiempo, ya que antiguamente las cervezas no se pasteurizaban como hoy en día y su fecha de caducidad era muy próxima a la elaboración.
      Aunque se conocen los efectos desinfectantes y bactericidas del lúpulo es muy probable que en aquella época una cerveza sin pasteurizar se pusiera en mal estado antes de acabar un viaje transcontinental, y que lo único que se conseguía al añadir más lúpulo es ocultar los sabores y aromas de la cerveza en mal estado.
      Las Indian Pale Ale son cervezas ales por tanto se elaboran con levaduras de alta fermentación. La cantidad de lúpulo que contienen sus recetas es bastante elevado por tanto su IBU también lo será. Por tanto la cerveza IPA tiene gran amargor y fuerte sabor.
  
    </aside>
  
    <h2 class="barleyh"> Barley Wine, nosotros te contamos!!</h2>
  
    <img src="assets/img/barley.jpg" class="barley">
  
    <aside class="barleytxt">
      Barley wine (vino de cebada) es el modo con el que se califican a ciertas ales (cervezas) inglesas, debido a su especial fuerza. Pueden alcanzar una graduación alcohólica del 10% del volumen. Su dulzor natural se equilibra generalmente con un grado de amargura de lúpulo. En algunas, el dulzor de la malta también es equilibrado por el sabor amargo del alcohol. Esta cerveza se pretende que se beba a sorbos lentos para apreciar el sabor de su carácter dulzón, afrutado, y envejecido. Estas cervezas se elaboran a veces para celebrar acontecimientos y, debido a su alta graduación, algunos vinos de cebada se añejan durante más de 25 años.
      En el momento el estilo está tomando popularidad en el nuevo mundo, principalmente en Argentina, Chile y Uruguay. En el presente más de 700 cervecerías producen el estilo a nivel comercial en el América con la mayor producción concentrada en Argentina y Estados Unidos.
      El sabor a malta es fuerte, complejo e intenso, y suele tener reminiscencias al pan, el tofe y las galletas en las versiones más pálidas, mientras que en las oscuras se encontrarán sabores a nuez, tostado, caramelo o molasa.
      Un dulzor procedente de la malta se suele percibir en el paladar, a pesar de que el final puede ser de moderadamente dulce a moderadamente seco, en función del período de envejecimiento. También pueden hacer acto de presencia algunos  sabores vinosos u oxidativos, así como complejos sabores alcohólicos. El sabor afrutado y dulce es entre moderado y justo.
      El amargor derivado del lúpulo, por su parte, puede tener una presencia suficiente, simplemente para equilibrar la cerveza, o firme. Este equilibrio, además, suele ser entre maltoso y amargo. Las versiones pálidas son a menudo más amargas y mejor atenuadas.
      
    </aside>
  
    <h2 class="egiptoh"> Historia de la cerveza, su origen </h2>
  
    <img src="assets/img/egipto.jpg" class="egipto">
  
    <aside class="ipatxt">
      Su origen de la cerveza data de 4 mil a.C, en la zona de la Mesopotamia del Oriente Medio, hace más de siete mil años. La evidencia más antigua es una tablilla en la que se observan varias personas tomando cerveza de un mismo recipiente. Los Babilonios heredaron de ellos las tareas del cultivo de la tierra y la elaboración de cerveza en una tabla de arcilla, la cual explica su fórmula de elaboración.
      Su descubrimiento fue accidental: se mezcló agua con cereales y sucedió el milagro. Como resultado los sumerios humedecían el pan con agua y la levadura fermentaba la mezcla que la convertía en bebida alcohólica. Se producía un ritual en el que la gente se unía. La historia de la cerveza es también la de la agricultura: los asentamientos se forjaban alrededor de los cultivos. Lo relevante es que era un alimento ya que tenía una fuente de azúcar difícil de conseguir. 
      En Egipto la denominaron “zythum” y era esencial en la dieta cotidiana. Mientras que el vino era para las clases altas, la cerveza era para el pueblo. En época de los faraones, sus fábricas producían hasta 4 millones de litros por año, tanto, que los graneros estaban prácticamente destinados a la cebada para su elaboración y la utilizaban como moneda de cambio.
  
    </aside>
    <div class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/cer1.jpg" class="cer" alt="1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cervezas como no!!</h5>
              <p>Nuestras cervezas provienen de las mejores marcas y las que mas amor nos dan</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/cer2.jpg" class="cer" alt="2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Disfruta con nosotros</h5>
              <p>Nuestros espacios estan hechos para reir y disfrutar</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/cer3.jpg" class="cer" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Distintos tipos</h5>
              <p>A las mas bella la cerveza hay que acompañarla como se debe con nuestras comidas</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
  </div>
  
    <h2 class="malbec"> Amamos el vino. Amamos el Malbec </h2>
  
    <img src="assets/img/malbec.png" class="malbe">
  
    <aside class="malbectxt"> 
      Del 16 al 22 de abril, Argentina festejó la Semana del Malbec, en coincidencia con la celebración de su día mundial. Un 17 de abril de 1853 se presentó un proyecto ante la Legislatura de Mendoza para fundar una Quinta Normal y una Escuela de Agricultura. Las obras estuvieron a cargo del agrónomo francés Michel Aimé Pouget, quien fue el pionero en traer este varietal de uva para mejorar la vitivinicultura local. Nadie imaginó que luego se convertiría en uno de los vinos más destacados del mundo: el malbec argentino.
      Para conocer más acerca de las propiedades del malbec, consultamos a Matías Prezioso, presidente de la Asociación Argentina de Sommeliers, quien cuenta con más de una década de trayectoria en la industria vitivinícola, y nos remarcó que “es difícil estandarizar los criterios y características del malbec porque depende mucho donde esté plantado, la región, el clima, las condiciones en bodega, pero en general, el malbec argentino tiene un color violáceo muy notorio, muy distinguido, que perdura por varios años una vez puesto en botella”.
      El experto resaltó que lo más importante de un vino son los aromas y los sabores y en el caso del malbec “tiene mucha fruta en nariz, frutos negros como la ciruela y la mora que dependiendo la región va a ser más o menos fresca. En las zonas bajas de Mendoza es una fruta madura, y en algunas zonas más frescas, como el Valle de Uco que es una zona alta o inclusive en las regiones de la Patagonia.
    </aside>
  
    <h2 class="blanco"> Sauvignon Blanc. Nuestro dulce preferido</h2>
  
    <img src="assets/img/blanco.jpg" class="blancoimg">
  
    <aside class="blancotxt">
      La Sauvignon Blanc, también conocida simplemente como Sauvignon, es considerada, justo después de la Chardonnay, como la variedad más fina entre las cepas blancas de origen francés, pero ya con una clara pertenencia mundial. Su ascenso al trono mundial se dio a finales de la década de 1980, inicios de los 90, sobre todo con la aparición del Sauvignon blanc de Nueva Zelanda, especialmente el de Marlborough, que hizo renacer al proveniente de los viñedos franceses, a la par que enólogos y viticultores de todo el mundo buscaran zonas “frías” cuyos vinos pudieran competir con este vino neozelandés.
      Además de sus natales Francia, España e Italia puede encontrársela en todo el mundo, sobre todo reúne cada vez más adeptos en el Nuevo Mundo Vitivinícola. Como decíamos, a partir del éxito de Nueva Zelanda, muchos de estos países buscaron zonas frías donde producir varietales que pudieran competir con estos. Y hoy podemos encontrar muy buenos exponentes en Australia destacándose los de Margaret River, Victoria o South Australia. En Chile los mejores son los del Valle de Casablanca, así como los provenientes de las zonas del Sur como Malleco, Bio Bío o Itata.
    </aside>
  
    <h2 class="vinohist"> La historia del tan preciado vino</h2>
  
    <img src="assets/img/historiavino.jpg" class="vinohistimg">
  
    <aside class="vinohistxt"> 
      El vino se produjo por primera vez durante el neolítico, según los testimonios arqueológicos hallados en los montes Zagros, en la región que hoy ocupan Irak e Irán, gracias a la presencia de Vitis vinifera sylvestris y la aparición de la cerámica durante este periodo.
      La evidencia más antigua de la producción y consumo de vino es una vasija del año 5400 a. C., hallada en el poblado neolítico de Hajii Firuz Tepe, en los montes Zagros.
      La vasija contiene un residuo rojizo, presumiblemente vino. Aunque recientemente se ha encontrado la bodega más antigua conocida, datada en el año 6000 a. C., que sitúa en Armenia la producción más antigua de vino.
      Posteriormente, el consumo de vino se extendió hacia el occidente, llegando a Anatolia y Grecia; y hacia el sur, llegando hasta Egipto, ya célebre en Bahariya durante el Imperio Medio (siglo XX a. C.)
      La más antigua documentación griega sobre el cuidado de la vid, la cosecha y el prensado de las uvas, es Los trabajos y los días, de Hesíodo, del siglo VIII a. C. En la antigua Grecia el vino se bebía mezclado con agua y se conservaba en pellejos de cabra.
      Lo primero que cabe destacar es que el vino, a lo largo de la historia, ha estado muy bien considerado por la alta sociedad occidental, siendo testigo imprescindible en cualquier acontecimiento o banquete.
    </aside>
  
    <div class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/vin1.jpg" class="cer" alt="1">
          <div class="carousel-caption d-none d-md-block">
            <h5>Vino como no!!</h5>
            <p>Nuestros vinos provienen de las mejores marcas y las que mas amor nos dan</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/vin2.jpg" class="cer" alt="2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Disfruta con nosotros</h5>
            <p>Nuestros espacios estan hechos para reir y disfrutar</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/vin3.jpg" class="cer" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Distintos tipos</h5>
            <p>Para los gustos los colores, blanco, tinto y rosado</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
  
</div>
